* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* ----------- */

body {
  font-family: "Courier New", Courier, monospace;
}

.tasks__container {
  display: flex;
  justify-content: space-around;
  padding-block: 50px;
}

.task__title {
  margin-block: 50px;
}

.task {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;

  width: 400px;
  aspect-ratio: 1/1;
}

.destruct__btn {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
  background-size: 200% auto;

  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(238, 90, 36, 0.4);
  text-transform: uppercase;
}

.destruct__btn:hover {
  background-position: right center;
}

.task__two--img {
  border-radius: 10px;
}

.characters__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: rebeccapurple;
  padding: 20px;
}

.characters__list--card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.character__card--info {
  display: grid;
  gap: 20px;
}

.character__name {
  font-size: 38px;
  font-weight: bold;
}

.character__house {
  font-size: 18px;
}

.no__characters {
  text-align: center;
  color: white;
}

.character__img {
  max-height: 200px;
}

.character__card--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character__card--btns button {
  background-color: rebeccapurple;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
